{% if localization == 'ru' %}
- Покупки из за рубежа<br>
Найдем, оплатим и доставим товары, которые не смогли достать другие консьержы, в т.ч. из заграницы<br>
- Нестандартыне покупки<br>
Например, может помочь купить или продать бонусные мили авиакомпаний, а также некоторые привилегии лояльности<br>
- Валюта и оплата<br>
Подберем самый выгодный курс обмена, поможем с переводом валюты за рубеж <br>
- Билеты на мероприятия и концерты<br>
Найдем, купим и доставим билеты на матчи, концерты, показы, которые не смогли достать другие консьержы<br>
- Продажа электроники, гаджетов и некоторых вещей<br>
Вы присылаете фотографии вещей, которые хотите продать, мы - оцениваем и направляем в бот наше ценовое предложение; если цена устраивает, <br>
мы забираем товар, вам - переводим деньги<br>
- Персонал <br>
Поможем с подбором квалифицированного персонала: вызов проверенного водителя, додбор няни, репетитора,сиделки и других специалистов<br>
<br>
Подробнее: https://docs.google.com/document/d/12hML4G7ZG4ci_Zi_VrpeNsP1XpczrWm0bu7wTdwvVhk/edit?usp=sharing<br>
{% else %}
- Purchases from abroad<br>
We will find, pay for and deliver goods that other concierges could not get, including from abroad<br>
- Non-standard purchases<br>
For example, we can help you buy or sell airline bonus miles, as well as some loyalty privileges<br>
- Currency and payment<br>
We will find the most favorable exchange rate, help with currency transfer abroad<br>
- Tickets for events and concerts<br>
We will find, buy and deliver tickets for matches, concerts, shows that other concierges could not get<br>
- Sale of electronics, gadgets and some things<br>
You send photos of things you want to sell, we evaluate and send our price offer to the bot; if the price is acceptable,<br>
we take the goods, transfer the money to you<br>
- Staff<br>
We will help you find qualified personnel: call a verified driver, select a nanny, tutor, nurse and other specialists<br>
<br>
More: https://docs.google.com/document/d/12hML4G7ZG4ci_Zi_VrpeNsP1XpczrWm0bu7wTdwvVhk/edit?usp=sharing
{% endif %}
