{% if localization == 'ru' %}
Если у вас возникли трудности с пользованием бота Консьерж Клуба, просим вас написать в поддержку. Спасибо!
{% else %}
If you have any problems with using the Concierge Club's bot, please write to support. Thank you!
{% endif %}
