{% if localization == 'ru' %}
Если у вас возникли трудности с пользованием Консьерж Клуба, просим вам написать в поддержку. Спасибо!
{% else %}
If you have any problems with using the Concierge Club, please write to support. Thank you!
{% endif %}
