{% if localization == 'ru' %}
Если у вас возникли проблемы с пользованием Консьерж Клубом, просим вам написать в поддержку. Спасибо!
{% else %}
If you have any problems with using the Concierge Club, please write to support. Thank you!
{% endif %}
