{% if localization == 'ru' %}
Вам доступен пробный период подписки на наш сервис. Хотите его активировать?
{% else %}
You have a trial subscription period available for our service. Do you want to activate it?
{% endif %}
