{% if localization == 'ru' %}
Мой аккаунт<br>
Вся необходимая информация о вашем профиле<br>
<br>
👁‍🗨 ID: {{user.id}}<br>
👁‍🗨 Телефон: {{user.phone}}<br>
<br>
💶 Мой кошелёк: {{user.balance}}₽<br>
💎 Подписка до:  {{user.subscription}}<br>
💎 Запросов осталось:  {% if user.token_quantity != -1 %}{{user.token_quantity}}{% else %}<i>Безлимит</i>{% endif %}<br>
{% else %}
My account<br>
All nessesary information about your profile<br>
<br>
👁‍🗨 ID: {{user.id}}<br>
👁‍🗨 Phone: {{user.phone}}<br>
<br>
💶 My balance: {{user.balance}}₽<br>
💎 Subscription until: {{user.subscription}}<br>

{% endif %}
