{% if localization == 'ru' %}
Приятно познакомиться, {{username}}! Теперь поделись номером телефона, сделать это ты сможешь по кнопке "<i>Поделиться</i>"
{% else %}
Nice to meet you, {{username}}! Now i need your phone number, you can share it with button "<i>Share</i>"
{% endif %}
