Привет, {{ username }}! Тебя приветсвует бот Консьерж Сервиса Спэйс.<br>
Для продолжения выбери язык<br>
<br>
Hello, {{username}}! It's Concierge Service Space's bot.<br>
For continue choose language<br>
