{% if localization == 'ru' %}
Подписка дает возможность пользоваться услугами Консьерж сервиса Спэйс
{% else %}
Subscription gives you access to the services of the Space Concierge service
{% endif %}
