{% if localization == 'ru' %}
Подписка дает возможность пользоваться услугами Консьерж сервиса Спэйс.<br>
<br>
<i>Нажимая кнопку <b>"Оформить подписку"</b> вы соглашаетесь с условиями <a href="{{offer_link}}">Оферты</a>.</i>
{% else %}
Subscription gives you access to the services of the Space Concierge service.<br>
<br>
<i>By clicking the <b>"Subscribe"</b> button, you agree to the terms of the <a href="{{offer_link}}">Offer</a>.</i>
{% endif %}
